# GOKU FX - Forge 1.20.1
# Los nombres m_... son los nombres SRG exigidos por Forge para Access Transformers.

# Display#setTransformation(Transformation)
public net.minecraft.world.entity.Display m_269214_(Lcom/mojang/math/Transformation;)V

# Display.ItemDisplay#setItemStack(ItemStack)
public net.minecraft.world.entity.Display$ItemDisplay m_269362_(Lnet/minecraft/world/item/ItemStack;)V

# Display.ItemDisplay#setItemTransform(ItemDisplayContext)
public net.minecraft.world.entity.Display$ItemDisplay m_269028_(Lnet/minecraft/world/item/ItemDisplayContext;)V

# Camera#setPosition(double,double,double) - cámara cinematográfica del Kamehameha
public net.minecraft.client.Camera m_90584_(DDD)V
